<footer class="footer">
  <nav>
    <ul>
      <li><a href="http://www.cuon.co.jp/" target="_blank">About</a></li>
      <li><a href="http://news.railstutorial.jp/" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>
